.shoppingbag-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.backbutton {
  border: none;
  display: flex;
  background: none;
  padding: 10px;
}

.backbutton:hover {
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-100);
}

ul {
  padding: 0;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
