.shoppingbag-page {
  width: 100%;
  padding: 0px 80px;
}

.backbutton {
  border: none;
  display: flex;
  background: none;
  padding: 10px;
}

.backbutton:hover {
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-100);
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.item img {
  height: 80px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.removefrombag-btn,
.minusquantity-btn,
.plusquantity-btn {
  display: flex;
  border: none;
  background: none;
  padding: 10px;
}

.removefrombag-btn:hover,
.minusquantity-btn:hover,
.plusquantity-btn:hover {
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-100);
}

.removefrombag-btn {
  color: crimson;
}
