.store-page {
  padding: 0px 80px;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245, 1);
  border-radius: 8px;
  gap: 20px;
  padding: 20px;
}

.card img {
  width: 80%;
  height: 200px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info h3,
h4,
h5 {
  margin: 0;
}

.addtobag-btn {
  border: none;
  background: none;
}

.addtobag-btn:hover {
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-200);
}
