.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  height: 60px;
}

.leftside {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav-links {
  display: flex;
  gap: 30px;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.logo {
  display: flex;
}

.logo img {
  height: 40px;
}

.cart-link {
  position: relative;
}

.cart-icon {
  color: black;
}

.cart-count {
  position: absolute;
  top: -18px;
  right: -15px;
  background: black;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
