.ordersummary-container {
  background-color: var(--color-100);
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub-vat {
  display: flex;
  flex-direction: column;
}

.left-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#checkout-btn {
  padding: 10px;
  background-color: blue;
  border-radius: var(--default-border-radius);
  color: white;
}
